/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.bg-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
}
.bg-gradient:before, .bg-gradient:after {
  content: "";
  height: 10px;
  position: absolute;
  border-radius: 0 0 12px 12px;
}
.bg-gradient:before {
  background-color: rgb(202, 202, 219);
  bottom: -10px;
  left: 20px;
  right: 20px;
}
.bg-gradient:after {
  background-color: rgb(231, 231, 242);
  bottom: -20px;
  left: 40px;
  right: 40px;
}

.services-click {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgb(36, 163, 255);
  text-decoration: none;
  transition: 0.3s linear;
}
.services-click:hover {
  color: rgb(240, 20, 90);
}
.services-click:hover svg path {
  transition: 0.3s linear;
  stroke: rgb(240, 20, 90);
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding-left: 160px;
    padding-right: 160px;
  }
}
.hero {
  height: 100vh;
  background-image: url("../image/svg/h.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  object-fit: cover;
}
.hero .hero-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.header-mobile {
  align-self: stretch;
}
.header-mobile .header-mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 250, 0.2);
  padding: 10px 15px;
  margin-right: -30px;
  margin-left: -30px;
}
.header-mobile .header-mobile-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-right: -30px;
  margin-left: -30px;
}
.header-mobile .header-mobile-bottom .menu-btn-header {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  transition: 0.3s linear;
}
.header-mobile .header-mobile-bottom .menu-btn-header:hover {
  background-color: rgba(245, 245, 250, 0.2);
}

.mobile-menu-bg {
  background-color: rgba(50, 50, 100, 0.7);
  position: fixed;
  inset: 0;
  display: none;
  align-items: flex-end;
  padding-left: 8px;
  padding-right: 8px;
}
.mobile-menu-bg .mobile-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 64px 12px 12px 12px;
  position: relative;
}
.mobile-menu-bg .mobile-container .close-mobile {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 12px;
  right: 12px;
  transition: 0.3s linear;
  border-radius: 8px;
}
.mobile-menu-bg .mobile-container .close-mobile:hover {
  background-color: rgb(230, 230, 240);
}

.mobile-menu-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mobile-menu-item .mobile-menu-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: center;
  color: rgb(36, 163, 255);
  text-decoration: none;
  background-color: rgb(245, 245, 250);
  border-radius: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.3s linear;
}
.mobile-menu-item .mobile-menu-link:hover {
  color: rgb(240, 20, 90);
}
.mobile-menu-item .mobile-menu-link:nth-last-child(1) {
  background-color: rgb(230, 230, 240);
}

.menu-mobile-showed {
  display: flex;
}

.lang-btn-hero {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 5px 7px;
  border: none;
  color: rgb(255, 255, 255);
  transition: 0.3s linear;
}
.lang-btn-hero:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.lang-btn-hero:focus {
  background-color: rgb(240, 20, 90);
}

.header {
  display: none;
}

.maps-hero {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s linear;
}
.maps-hero:hover {
  color: rgb(240, 20, 90);
}

.tel-hero {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s linear;
}
.tel-hero:hover {
  color: rgb(240, 20, 90);
}

.fb-hero:hover svg path {
  fill: rgb(240, 20, 90);
}

.nav-link-hero {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: 0.3s linear;
}
.nav-link-hero:hover {
  border-bottom-color: rgb(255, 255, 255);
}
.nav-link-hero:focus {
  color: rgb(240, 20, 90);
  border-bottom-color: rgb(240, 20, 90);
}

.center-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  color: rgb(255, 255, 255);
  min-width: 315px;
  max-width: 800px;
  max-height: 500px;
  overflow: auto;
}

.hero-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  transition: 0.3s linear;
}
.hero-btn svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s linear;
}
.hero-btn:hover {
  border-color: rgb(240, 20, 90);
}
.hero-btn:hover svg path {
  stroke: rgb(240, 20, 90);
}

@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 105px;
    position: relative;
    gap: 30px;
  }
  .bar-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .bar-hero .bar-hero-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 50px;
  }
  .bar-hero .nav-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}
@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    position: static;
    gap: 0;
  }
  .bar-hero {
    align-items: flex-end;
    gap: 16px;
  }
  .bar-hero .bar-hero-top {
    position: static;
  }
}
.services {
  padding-top: 30px;
  padding-bottom: 60px;
}

.services-title-des {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.services-cards-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding-top: 30px;
}
.services-cards-inner .services-card-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.services-cards-inner .services-card-title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: rgb(36, 163, 255);
  margin-bottom: 15px;
  text-decoration: none;
  transition: 0.3s linear;
}
.services-cards-inner .services-card-title:hover {
  color: rgb(240, 20, 90);
}
.services-cards-inner .services-card-title:hover svg path {
  stroke: rgb(240, 20, 90);
}
.services-cards-inner .services-card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .services {
    padding-top: 60px;
  }
  .services-title-des {
    font-size: 38px;
    line-height: 46px;
  }
  .services-cards-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding-top: 60px;
  }
}
@media (min-width: 1024px) {
  .services-cards-inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
.team {
  padding-top: 80px;
  padding-bottom: 106px;
  position: relative;
}

.team-item {
  background-color: rgb(245, 245, 250);
  border-radius: 12px;
  overflow: hidden;
}
.team-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.team-item .team-info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.team-item .team-info .team-title-des {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
}
.team-item .team-info .team-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: rgb(179, 179, 186);
  margin-top: 30px;
}
.team-item .team-info .team-job-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: rgb(179, 179, 186);
  margin-top: 6px;
}

.snap-button {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 46px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.snap-button .snap-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: transparent;
  background-color: rgba(36, 163, 255, 0.2);
  transition: 0.3s linear;
}
.snap-button .snap-btn:focus {
  background-color: rgb(36, 163, 255);
}

@media (min-width: 768px) {
  .team-item .team-info .team-title-des {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 1024px) {
  .team-item {
    display: flex;
  }
  .team-item img {
    width: 400px;
    height: 528px;
  }
}
@media (min-width: 1440px) {
  .team-item img {
    height: 344px;
  }
}
@media (min-width: 1920px) {
  .team-item img {
    height: 298px;
  }
}
.partners-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(50, 50, 100);
}

.partners {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 120px);
  padding-top: 30px;
}
.partners .partners-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .color-1 {
  background-color: rgb(28, 66, 128);
}
.partners .color-2 {
  background-color: rgb(20, 54, 70);
}
.partners .color-3 {
  background-color: rgb(244, 139, 48);
}
.partners .color-4 {
  background-color: rgb(158, 77, 195);
}
.partners .color-5 {
  background-color: rgb(253, 147, 57);
}
.partners .color-6 {
  background-color: rgb(226, 226, 228);
}
.partners .color-7 {
  background-color: rgb(199, 28, 54);
}
.partners .color-8 {
  background-color: rgb(220, 243, 249);
}
.partners .color-9 {
  background-color: rgb(234, 234, 234);
}
.partners .color-10 {
  background-color: rgb(40, 34, 64);
}
.partners .color-11 {
  background-color: rgb(29, 69, 104);
}
.partners .color-12 {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .partners-card:nth-child(n+7) {
    display: none;
  }
}
@media (min-width: 768px) {
  .partners {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
  }
}
@media (min-width: 1024px) {
  .partners {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
  }
}
@media (min-width: 1920px) {
  .services-partners {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
  .partners {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
  }
  .partners :nth-child(1) {
    border-top-left-radius: 12px;
  }
  .partners :nth-child(4) {
    border-top-right-radius: 12px;
  }
  .partners :nth-child(9) {
    border-bottom-left-radius: 12px;
  }
  .partners :nth-child(12) {
    border-bottom-right-radius: 12px;
  }
}
.recommended {
  padding-top: 30px;
  background-color: rgb(245, 245, 250);
}

.recommended-title-des {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
}

.recommended-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding-top: 30px;
}
.recommended-card .recommended-card-item {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  overflow: hidden;
}
.recommended-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.recommended-card .recommended-card-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.recommended-card .recommended-card-info .recommended-card-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: rgb(36, 163, 255);
  text-decoration: none;
  transition: 0.3s linear;
}
.recommended-card .recommended-card-info .recommended-card-link:hover {
  color: rgb(240, 20, 90);
}
.recommended-card .recommended-card-info .recommended-card-link:hover svg path {
  stroke: rgb(240, 20, 90);
}
.recommended-card .recommended-card-info .recommended-card-date {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: left;
  color: rgb(179, 179, 186);
}
.recommended-card .recommended-card-info .recommended-line {
  border: 4px solid rgb(230, 230, 240);
  width: 100%;
  margin: 0;
}
.recommended-card .recommended-card-info .recommended-card-des {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .recommended-title-des {
    font-size: 38px;
    line-height: 46px;
    margin-top: 10px;
  }
  .recommended-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .recommended-card-item:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .recommended-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .recommended-card-item:nth-child(3) {
    grid-column: 3;
  }
}
.scroll-basic {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.navigation-scroll {
  display: flex;
  gap: 30px;
  overflow: auto;
  padding-bottom: 30px;
  padding-left: 30px;
}
.navigation-scroll .link-scroll {
  flex-shrink: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
  color: rgb(179, 179, 186);
  text-decoration: none;
  transition: 0.3s linear;
}
.navigation-scroll .link-scroll:hover {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation-scroll .link-scroll:last-child {
  margin-right: 30px;
}

.wrapper-scroll {
  padding-right: 30px;
  padding-left: 30px;
}

.line-scroll {
  border: 4px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  margin: 0;
}

.info-scroll {
  display: flex;
  flex-direction: column;
}
.info-scroll .title-scroll {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}
.info-scroll .des-scroll {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}

@media (min-width: 768px) {
  .scroll-basic {
    padding-top: 60px;
  }
  .wrapper-scroll {
    padding-right: 60px;
    padding-left: 60px;
  }
  .navigation-scroll {
    padding-bottom: 60px;
    padding-left: 60px;
  }
  .navigation-scroll .link-scroll {
    font-size: 38px;
    line-height: 46px;
  }
  .navigation-scroll .link-scroll:last-child {
    margin-right: 60px;
  }
  .info-scroll .title-scroll {
    font-size: 30px;
    line-height: 37px;
    margin-top: 60px;
  }
}
@media (min-width: 1024px) {
  .scroll-basic {
    display: flex;
    flex-direction: row;
    padding: 60px;
    gap: 60px;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper-scroll {
    display: flex;
    gap: 60px;
    padding: 0;
  }
  .navigation-scroll {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    overflow: visible;
    white-space: nowrap;
    padding: 0;
  }
  .navigation-scroll .link-scroll:last-child {
    margin-right: 0;
  }
  .info-scroll {
    justify-content: center;
    align-items: start;
  }
  .info-scroll .title-scroll {
    margin: 0;
  }
  .line-scroll {
    width: 0;
  }
}
@media (min-width: 1440px) {
  .scroll-basic {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (min-width: 1920px) {
  .scroll-basic {
    padding-left: 280px;
    padding-right: 280px;
  }
}
.footer {
  background-color: rgb(245, 245, 250);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-line {
  border: 2px solid rgb(230, 230, 240);
  width: 100%;
  margin: 0;
}

.footer-content {
  padding-top: 30px;
}
.footer-content .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer-content .footer-company {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgb(179, 179, 186);
}

.footer-locality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-locality .footer-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgb(50, 50, 100);
}
.footer-locality .footer-maps {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: left;
  color: rgb(36, 163, 255);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s linear;
}
.footer-locality .footer-maps:hover {
  color: rgb(240, 20, 90);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  padding-bottom: 30px;
}
.footer-contact .footer-fb-click:hover svg path {
  fill: rgb(240, 20, 90);
}
.footer-contact .footer-tel {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  color: rgb(70, 70, 110);
  text-decoration: none;
  transition: 0.3s linear;
}
.footer-contact .footer-tel:hover {
  color: rgb(240, 20, 90);
}
.footer-contact .footer-mail {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: rgb(36, 163, 255);
  text-decoration: none;
  transition: 0.3s linear;
}
.footer-contact .footer-mail:hover {
  color: rgb(240, 20, 90);
}

.dot {
  display: none;
  width: 6px;
  height: 6px;
  background-color: rgb(179, 179, 186);
  border-radius: 50px;
}

@media (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-locality {
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-contact {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }
  .dot {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
