@use './mixins';
@use './variables';

.services-title-des {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    background: variables.$gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.services-cards-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 60px;

    .services-card-color {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92px;
        height: 92px;
        border-radius: 24px;
        background: variables.$white;
        margin-bottom: 30px;
    }

    .services-card-title {
        display: block;
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        color: variables.$blue;
        margin-bottom: 15px;
        text-decoration: none;

        &:hover {
            color: rgba(240, 20, 90, 1);
        }

        &:hover svg path {
            stroke: rgba(240, 20, 90, 1);
        }
    }

    .services-card-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: variables.$white;
    }
}

@media (min-width: 768px) {
    .services-title-des {
        @include mixins.title-size;
    }

    .services-cards-inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        padding-top: 60px;
    }
}

@media (min-width: 1024px) {
    .services-cards-inner {
        grid-template-columns: repeat(3, 1fr);
    }
}