@use './mixins';
@use './variables';

.recommended {
    padding-top: 30px;
    background-color: rgba(245, 245, 250, 1);
}

.recommended-title-des {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
    background: variables.$gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
}

.recommended-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding-top: 30px;

    .recommended-card-item {
        background-color: variables.$white;
        border-radius: 12px;
        overflow: hidden;
    }

    .recommended-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .recommended-card-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px;

        .recommended-card-link {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;
            color: variables.$blue;
            text-decoration: none;

            &:hover {
                color: rgba(240, 20, 90, 1);
            }
        
            &:hover svg path {
                stroke: rgba(240, 20, 90, 1);
            }
        }

        .recommended-card-date {
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            letter-spacing: 1px;
            text-align: left;
            color: variables.$grey;
        }

        .recommended-line {
            border: 4px solid rgba(230, 230, 240, 1);
            width: 100%;
            margin: 0;
        }

        .recommended-card-des {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            color: variables.$black;
        }
    }
}

@media (min-width: 768px) {
    .recommended-title-des {
        @include mixins.title-size;
        margin-top: 10px;
    }

    .recommended-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .recommended-card-item:nth-child(3) {
        grid-column: 1 / -1;
    }
}

@media (min-width: 1024px) {
    .recommended-card {
        grid-template-columns: repeat(3, 1fr);
    }

    .recommended-card-item:nth-child(3) {
        grid-column: 3;
    }
}