@use './mixins';
@use './variables';

.scroll-basic {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.navigation-scroll {
    display: flex;
    gap: 30px;
    overflow: auto;
    padding-bottom: 30px;
    padding-left: 30px;

    .link-scroll {
        flex-shrink: 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        text-align: left;
        color: variables.$grey;
        text-decoration: none;
        transition: 0.3s linear;

        &:hover {
            background: variables.$gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:last-child {
            margin-right: 30px;
        }
    }
}

.wrapper-scroll {
    padding-right: 30px;
    padding-left: 30px;
}

.line-scroll {
    border: 4px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    margin: 0;
}

.info-scroll {
    display: flex;
    flex-direction: column;

    .title-scroll {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: variables.$white;
        margin-top: 30px;
    }

    .des-scroll {
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: variables.$white;
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .scroll-basic {
        padding-top: 60px;
    }

    .wrapper-scroll {
        padding-right: 60px;
        padding-left: 60px;
    }

    .navigation-scroll {
        padding-bottom: 60px;
        padding-left: 60px;

        .link-scroll {
            @include mixins.title-size;
        }

        .link-scroll:last-child {
            margin-right: 60px;
        }
    }

    .info-scroll .title-scroll {
        font-size: 30px;
        line-height: 37px;
        margin-top: 60px;
    }
}

@media (min-width: 1024px) {
    .scroll-basic {
        display: flex;
        flex-direction: row;
        padding: 60px;
        gap: 60px;
        max-width: 1920px;
        margin-right: auto;
        margin-left: auto;
    }

    .wrapper-scroll {
        display: flex;
        gap: 60px;
        padding: 0;
    }

    .navigation-scroll {
        flex-direction: column;
        justify-content: center;
        align-items: end;
        overflow: visible;
        white-space: nowrap;
        padding: 0;

        .link-scroll:last-child {
            margin-right: 0;
        }
    }

    .info-scroll {
        justify-content: center;
        align-items: start;

        .title-scroll {
            margin: 0;
        }
    }

    .line-scroll {
        width: 0;
    }
}

@media (min-width: 1440px) {
    .scroll-basic {
        padding-left: 180px;
        padding-right: 180px;
    }
}

@media (min-width: 1920px) {
    .scroll-basic {
        padding-left: 280px;
        padding-right: 280px;
    }
}