@use './mixins';
@use './variables';

.team {
    padding-top: 80px;
    padding-bottom: 106px;
    position: relative;
}

.team-item {
    background-color: rgba(245, 245, 250, 1);
    border-radius: 12px;
    overflow: hidden;

    .team-img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .team-info {
        display: flex;
        flex-direction: column;
        padding: 30px;

        .team-title-des {
            font-size: 30px;
            font-weight: 700;
            line-height: 37px;
            text-align: left;
            background: variables.$gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 5px;
        }

        .team-name {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;
            color: variables.$grey;
            margin-top: 30px;
        }

        .team-job-title {
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            color: variables.$grey;
            margin-top: 6px;
        }
    }
}

.snap-button {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 46px;
    display: flex;
    justify-content: center;
    gap: 15px;

    .snap-btn {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: transparent;
        background-color: rgba(36, 163, 255, 0.2);
    }

    .snap-btn:focus {
        background-color: variables.$blue;

    }
}

@media (min-width: 768px) {
    .team-item .team-info .team-title-des {
        @include mixins.title-size;
    }
}

@media (min-width: 1024px) {
    .team-item {
        display: flex;

        .team-img {
            width: 400px;
            height: 528px;
        }
    }
}

@media (min-width: 1440px) {
    .team-item .team-img {
        height: 344px;
        flex: none;
    }
}

@media (min-width: 1920px) {
    .team-item .team-img {
            height: 298px;
        }
}
