@use './mixins';
@use './variables';

.hero {
    height: 100vh;
    background-image: url('./images/svg/h.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    .hero-content {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
}

.header-mobile {
    align-self: stretch;

    .header-mobile-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(245, 245, 250, 0.2);
        padding: 10px 15px;
        margin-right: -30px;
        margin-left: -30px;
    }

    .header-mobile-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        margin-right: -30px;
        margin-left: -30px;

        .menu-btn-header {
            width: 32px;
            height: 32px;
            padding: 0;
            background-color: transparent;
            border-radius: 8px;
            border: none;
            transition: 0.3s linear;

            &:hover {
                background-color: rgba(245, 245, 250, 0.2);
            }
        }
    }
}

.mobile-menu-bg {
    background-color: rgba(50, 50, 100, 0.7);
    position: fixed;
    inset: 0;
    display: none;
    align-items: flex-end;
    padding-left: 8px;
    padding-right: 8px;

    .mobile-container {
        width: 100%;
        background-color: variables.$white;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 64px 12px 12px 12px;
        position: relative;

        .close-mobile {
            width: 32px;
            height: 32px;
            padding: 0;
            position: absolute;
            border: none;
            background-color: transparent;
            top: 12px;
            right: 12px;
            transition: 0.3s linear;
            border-radius: 8px;

            &:hover {
                background-color: rgba(230, 230, 240, 1);
            }
        }
    }
}

.mobile-menu-item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .mobile-menu-link {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        text-align: center;
        color: variables.$blue;
        text-decoration: none;
        background-color: rgba(245, 245, 250, 1);
        border-radius: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
        transition: 0.3s linear;

        &:hover {
            color: variables.$red;
        }

        &:nth-last-child(1) {
            background-color: rgba(230, 230, 240, 1);
        }
    }
}

.menu-mobile-showed {
    display: flex;
}

.lang-btn-hero {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 5px 7px;
    border: none;
    color: variables.$white;
    transition: 0.3s linear;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:focus {
        background-color: variables.$red;
    }
}

.header {
    display: none;
}

.maps-hero {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: variables.$white;
    text-decoration: none;

    transition: 0.3s linear;

    &:hover {
        color: variables.$red;
    }
}

.tel-hero {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
    color: variables.$white;
    text-decoration: none;
    transition: 0.3s linear;

    &:hover {
        color: variables.$red;
    }
}

.fb-hero {
    &:hover svg path {
        fill: variables.$red;
    }
}

.nav-link-hero {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
    color: variables.$white;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: 0.3s linear;

    &:hover {
        border-bottom-color: variables.$white;
    }

    &:focus {
        color: variables.$red;
        border-bottom-color: variables.$red;
    }
}

.center-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    color: variables.$white;
    min-width: 315px;
    max-width: 800px;
    max-height: 500px;
    overflow: auto;
}

.hero-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid variables.$white;
    position: relative;
    transition: 0.3s linear;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s linear;
    }

    &:hover {
        border-color: variables.$red;
    }

    &:hover svg path {
        stroke: variables.$red;
    }
}

@media (min-width: 768px) {
    .header-mobile {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        padding-top: 105px;
        position: relative;
        gap: 30px;
    }

    .bar-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .bar-hero-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            position: absolute;
            top: 50px;
        }

        .nav-hero {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
        }
    }
}

@media (min-width: 1024px) {
    .hero {
        background-size: contain;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        position: static;
        gap: 0;
    }

    .bar-hero {
        align-items: flex-end;
        gap: 16px;

        .bar-hero-top {
            position: static;
        }
    }
}