$blue: rgba(36, 163, 255, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(179, 179, 186, 1);
$black: rgba(0, 0, 0, 1);
$red: rgba(240, 20, 90, 1);
$gradient: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
